@model SonicInventory.Models.part

@{
    ViewBag.Title = "DeletePart";
}

<h2>DeletePart</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>part</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.project_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.drawingNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.drawingNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.drawingType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.drawingType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detailNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detailNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.revNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.revNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wasModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wasModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.designer_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.designer_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fabricator_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fabricator_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.file)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
